:root {
  --color-gray-100: #f5f5f4;
  --color-gray-400: #a8a29e;
  --color-gray-600: #57534e;
  --color-gray-900: #1c1917;
  --color-purple-400: #e879f9;
  --color-purple-700: #a21caf;
  --color-red-400: #f87171;
  --color-red-700: #b91c1c;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Crimson Text", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: InterVariable, Inter, ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html {
  color-scheme: light;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-gray-900);
    color: var(--color-gray-100);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

a:visited {
  color: currentColor;
}

a:hover,
a:focus {
  color: var(--color-purple-700);
}

@media (prefers-color-scheme: dark) {
  a:hover,
  a:focus {
    color: var(--color-purple-400);
  }
}

input {
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 36rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 42rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 56rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 70rem;
  }
}

.flashes {
  margin: 1rem auto;
  list-style: none;
  text-align: center;
}

.flashes .error {
  color: var(--color-red-700);
}

@media (prefers-color-scheme: dark) {
  .flashes .error {
    color: var(--color-red-400);
  }
}

.label-error span {
  color: var(--color-red-700);
}

@media (prefers-color-scheme: dark) {
  .label-error span {
    color: var(--color-red-400);
  }
}

.label-error input {
  border-color: var(--color-red-700) !important;
}

@media (prefers-color-scheme: dark) {
  .label-error input {
    border-color: var(--color-red-400) !important;
  }
}

a.button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid currentColor;
  background: none;
  font-size: 1rem;
  font-family: var(--font-sans);
  color: currentColor;
  text-decoration: none;
}

a.button:hover,
a.button:focus {
  color: var(--color-purple-700);
}

@media (prefers-color-scheme: dark) {
  a.button:hover,
  a.button:focus {
    color: var(--color-purple-400);
  }
}

.main-header-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header h1,
.main-header a.title {
  font-weight: bold;
  font-family: var(--font-serif);
  font-size: 2rem;
  text-decoration: none;
}

.main-header a {
  color: var(--color-gray-900);
}

@media (prefers-color-scheme: dark) {
  .main-header a {
    color: var(--color-gray-100);
  }
}

.main-header a.title:hover,
.main-header a.title:focus {
  text-decoration: underline;
}

.main-header a:hover,
.main-header a:focus {
  color: var(--color-purple-700);
}

@media (prefers-color-scheme: dark) {
  .main-header a:hover,
  .main-header a:focus {
    color: var(--color-purple-400);
  }
}

.main-header .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .main-header .links {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.page-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 3rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 2.5rem;
  }
}

main .title {
  margin: 3rem auto 1rem;
  text-align: center;
}

main .title:first-of-type {
  margin: 1rem auto;
}

.page-intro {
  text-align: center;
}

.page-intro > p {
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .page-intro {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .page-intro > p {
    margin: 1.5rem auto;
  }
}

.register-form-wrapper {
  text-align: center;
}

.register-form-wrapper h3 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .register-form-wrapper h3 {
    font-size: 2rem;
  }
}

.register-form {
  display: inline-block;
  width: 100%;
  margin: 2rem auto;
}

.edit-form {
  margin: 1rem auto;
}

.register-form > div {
  margin: 2rem auto;
}

.register-form > div label span {
  display: block;
  text-align: center;
  margin: 1rem auto;
}

.register-form > div label span.hint {
  color: var(--color-gray-600);
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .register-form > div label span.hint {
    color: var(--color-gray-400);
  }
}

.register-form > div label input {
  margin: 0 auto;
  padding: 0.5rem;
  min-width: 40ch;
  border-radius: 0.2rem;
  border: 2px solid currentColor;
  background: none;
  font-size: 1rem;
  font-family: var(--font-sans);
  text-align: left;
}

.register-form > div label input:focus {
  border-color: var(--color-purple-700) !important;
}

@media (prefers-color-scheme: dark) {
  .register-form > div label input:focus {
    border-color: var(--color-purple-400) !important;
  }
}

.register-form button[type="submit"] {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid currentColor;
  background: none;
  font-size: 1rem;
  font-family: var(--font-sans);
  cursor: pointer;
}

.register-form button[type="submit"]:hover,
.register-form button[type="submit"]:focus {
  color: var(--color-purple-700);
}

@media (prefers-color-scheme: dark) {
  .register-form button[type="submit"]:hover,
  .register-form button[type="submit"]:focus {
    color: var(--color-purple-400);
  }
}

.author-select > div {
  margin: 1rem auto;
}

.author-select > legend {
  margin: 1rem auto;
}

.class-select-scroll {
  overflow-y: scroll;
  max-height: 20rem;
}

.author-select .author-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  text-align: left;
}

.author-select .author-wrapper:not(:last-child) {
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-color: var(--color-gray-600);
}

@media (prefers-color-scheme: dark) {
  .author-select .author-wrapper:not(:last-child) {
    border-color: var(--color-gray-400);
  }
}

.author-select .author-wrapper .label-wrapper {
  min-width: 0;
  flex: 1;
}

.author-select .author-wrapper .label-wrapper label {
  user-select: none;
}

.author-select .author-wrapper .label-wrapper label .surname {
  font-weight: bold;
}

.author-select .author-wrapper .input-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 0 0.75rem;
}

.author-select .author-wrapper .input-wrapper input {
  position: relative;
  width: 1rem;
  height: 1rem;
  appearance: none;
  border-radius: calc(infinity * 1px);
  border-width: 1px;
  border-color: currentColor;
}

.author-select .author-wrapper .input-wrapper input::before {
  content: "";
  position: absolute;
  inset: 0.25rem;
  border-radius: calc(infinity * 1px);
  background: var(--color-gray-100);
}

.author-select .author-wrapper .input-wrapper input:checked {
  background: var(--color-purple-700);
  border-color: var(--color-purple-700);
}

@media (prefers-color-scheme: dark) {
  .author-select .author-wrapper .input-wrapper input::before {
    background: var(--color-gray-900);
  }

  .author-select .author-wrapper .input-wrapper input:checked {
    background: var(--color-purple-400);
    border-color: var(--color-purple-400);
  }
}

.inline-author-name {
  display: inline;
  font-weight: bold;
}

.user-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .user-nav {
    flex-direction: row;
  }
}

.book-page p:not(.book-author) {
  margin: 1rem;
  text-align: center;
}

.book-title {
  font-style: italic;
}

.book-info {
  margin: 1rem auto;
  text-align: center;
}

.book-edit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto;
}

@media (min-width: 768px) {
  .book-edit-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
}

.book-edit-buttons .button {
  display: block;
}
