{% extends "layout.html" %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
  <div class="container book-page">
    <h1 class="page-title book-title">{{- book.name -}}</h1>
    <p class="book-info">
      Kirjoittaja:{{ " " }}{{- author.first_name + " " if author.first_name else "" -}}{{ author.surname -}}
    </p>
    <p class="book-info">
      Luokitus:{{ " " }}{{- book_class.key -}}{{ " " }}{{- book_class.label -}}
    </p>
    <p class="book-info">
      Yhteensä kirjastoissa:{{ " " }}{{- count -}}{{ " " }}kpl
    </p>
    <p class="book-info">
      Omassa kirjastossasi:{{ " " }}{{- owned_count -}}{{ " " }}kpl
    </p>
    {% if session.user_id %}
      <div class="book-edit-buttons">
        {% if owns %}
          <a class="button" href="/kirja/{{- book.id -}}/muokkaa"
            >Korjaa kirjan tietoja</a
          ><a class="button">Korjaa kirjan luokitus</a>
        {% endif %}
        <a
          class="button"
          href="/add-one-book?id={{- book.id -}}&token={{- session.csrf_token -}}"
          >Lisää kappale kirjastoosi</a
        >
        {% if owns %}
          <a
            class="button"
            href="/delete-one-book?id={{- book.id -}}&token={{- session.csrf_token -}}"
            >Poista kappale kirjastostasi</a
          >
        {% endif %}
      </div>
    {% else %}
      <p>
        <a href="/kirjaudu">Kirjaudu sisälle</a> nähdäksesi kirjaan liittyvät
        toiminnot.
      </p>
    {% endif %}
  </div>
{% endblock %}
