<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if is_home -%}
      <title>{{ site.title }} - {{ site.subtitle }}</title>
    {%- else -%}
      <title>{%- block title %}{%- endblock %} - {{ site.title }}</title>
    {%- endif -%}

    <link href="/static/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/static/favicon.ico" rel="alternate icon" sizes="16x16" />
    <link
      href="/static/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/static/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <link
      href="/static/favicon-180x180.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />

    <link href="/static/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a class="sr-only" href="#main">Siirry sisältöön</a>
    <header class="main-header-wrapper">
      <div class="container main-header">
        {% if is_home -%}
          <h1>{{- site.title -}}</h1>
        {%- else -%}
          <a class="title" href="/">{{- site.title -}}</a>
        {%- endif -%}
        <div class="links">
          {% if session.user_id %}
            <a href="/kayttaja/{{- session.username -}}">Oma sivu</a>
            <a href="/logout">Kirjaudu ulos</a>
          {% else %}
            <a href="/kirjaudu">Kirjaudu</a>
          {% endif %}
        </div>
      </div>
    </header>
    <main id="main">{% block content %}{% endblock %}</main>
  </body>
</html>
