<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if is_home -%}
    <title>{{ site.title }} - {{ site.subtitle }}</title>
    {%- else -%}
    <title>{{ title }} - {{ site.title }}</title>
    {%- endif -%}

    <link href="/static/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a class="sr-only" href="#main">Siirry sisältöön</a>
    <header class="main-header-wrapper">
      <div class="container main-header">
        {% if is_home -%}
        <h1>{{- site.title -}}</h1>
        {%- else -%}
        <a class="title" href="/">{{- site.title -}}</a>
        {%- endif -%}
        <div class="links">
          <a href="/">Rekisteröidy</a><a href="/">Kirjaudu</a>
        </div>
      </div>
    </header>
    <main id="main">{% block content %}{% endblock %}</main>
  </body>
</html>
