{% extends "layout.html" %}

{% block title %}Kirjasto{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="page-title">Kirjasto</h2>
    <div class="page-intro library-intro">
      <p>
        Tällä sivulla voit selata kaikkia kirjastotietokannassa olevia kirjoja.
        Lista on koostettu kaikkien käyttäjien kirjastoista.
      </p>
      {% if not session.user_id %}
        <p>
          Luo oma kirjastosi <a href="/kirjaudu">kirjautumalla sisään</a> tai
          <a href="/luo-tili">luomalla tili</a>.
        </p>
      {% endif %}
    </div>
  </div>
  <div class="listing-container">
    <div
      class="book-listing library-listing{{ ' logged-in' if session.user_id else '' }}"
    >
      <div class="heading-row">Kirjan nimi</div>
      <div class="heading-row">Kirjoittaja</div>
      <div class="heading-row">Luokka</div>
      <div class="heading-row">Kirjastoissa yhteensä</div>
      {% if session.user_id %}
        <div class="heading-row">Sinulla</div>
      {% endif %}
      <div class="heading-row">Toiminnot</div>

      {% for book in books %}
        <div><a href="/kirja/{{- book.id -}}">{{ book.name }}</a></div>
        <div>{{ book.author }}</div>
        <div>{{ book.classification }}</div>
        <div>
          {{- book.count -}}{{- " " -}}{{- "kappale" if book.count == 1 else "kappaletta" -}}
        </div>
        {% if session.user_id %}
          {% set ns = namespace(count=0) %}
          {% for o in owned %}
            {% if o.id == book.id %}
              {% set ns.count = o.count %}
            {% endif %}
          {% endfor %}
          <div>
            {{- ns.count -}}{{- " " -}}{{- "kappale" if ns.count == 1 else "kappaletta" -}}
          </div>
        {% endif %}
        <div class="actions">
          <div>
            <a href="/kirja/{{- book.id -}}">Kirjan tiedot</a>
          </div>
          {% if session.user_id %}
            <div>
              <a
                href="/add-one-book?id={{- book.id -}}&token={{- session.csrf_token -}}"
                >Lisää kappale kirjastoosi</a
              >
            </div>
            {% for o in owned %}
              {% if o.id == book.id %}
                <div>
                  <a
                    href="/delete-one-book?id={{- o.id -}}&token={{- session.csrf_token -}}"
                    >Poista kappale omasta kirjastostasi</a
                  >
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="library-nav">
      <div>
        Näytä per sivu:
        <a
          class="{{- 'current' if page_size == 5 -}}"
          href="/kirjasto/{{- page -}}?per_page=5&reset_page"
          >5</a
        >
        <a
          class="{{- 'current' if page_size == 10 -}}"
          href="/kirjasto/{{- page -}}?per_page=10&reset_page"
          >10</a
        >
        <a
          class="{{- 'current' if page_size == 20 -}}"
          href="/kirjasto/{{- page -}}?per_page=20&reset_page"
          >20</a
        >
        <a
          class="{{- 'current' if page_size == 50 -}}"
          href="/kirjasto/{{- page -}}?per_page=50&reset_page"
          >50</a
        >
        <a
          class="{{- 'current' if page_size == 100 -}}"
          href="/kirjasto/{{- page -}}?per_page=100&reset_page"
          >100</a
        >
      </div>
      <div>
        {% if page > 1 %}
          <a
            href="/kirjasto/{{- page - 1 -}}{{- '?per_page=' + (page_size | string) if add_per_page_param -}}"
            >&lt;&lt;</a
          >
        {% endif %}
        Sivu {{ page -}}/{{- page_count }}
        {% if page < page_count %}
          <a
            href="/kirjasto/{{- page + 1 -}}{{- '?per_page=' + (page_size | string) if add_per_page_param -}}"
            >&gt;&gt;</a
          >
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
