{% extends "layout.html" %}

{% block title %}Luo tili{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Rekisteröidy</h1>
    <p class="register-intro">
      Tervetuloa Flask-kirjastoon. Olet vain Flask-kirjasto-tunnuksen luomisen
      päässä elämäsi kirjastonhoitokokemuksesta. Kaikki kentät ovat pakollisia.
    </p>
    <div class="register-form-wrapper">
      <form class="register-form" method="POST">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
          {% if errors %}
            <h2 class="sr-only">Lomakkeessa olleet virheet</h2>
            <ul class="flashes">
              {% for msg in errors %}
                <li class="error">{{ msg }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <div>
            <label
              {{ ' class="label-error"' | safe if "käyttäjä" in errors | first | lower else "" }}
              for="username"
            >
              <span>Käyttäjätunnus</span>
              <input
                id="username"
                name="username"
                type="text"
                value="{{- form_data.username if form_data and 'username' in form_data else '' -}}"
              />
              <span class="hint"
                >Korkeintaan 16 merkkiä, saa sisältää vain isoja ja pieniä
                kirjaimia ilman ääkkösiä sekä viivoja ja alaviivoja</span
              >
            </label>
          </div>
          <div>
            <label
              {{ ' class="label-error"' | safe if "salasana" in errors | first | lower else "" }}
              for="password"
            >
              <span>Salasana</span>
              <input id="password" name="password" type="password" />
            </label>
          </div>
          <div>
            <label
              {{ ' class="label-error"' | safe if "salasana" in errors | first | lower else "" }}
              for="password_again"
            >
              <span>Salasana uudelleen</span>
              <input
                id="password_again"
                name="password_again"
                type="password"
              />
            </label>
          </div>
          <button type="submit">Luo tunnus</button>
        {% endwith %}
      </form>
    </div>
  </div>
{% endblock %}
