{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Käyttäjä: {{ user.username -}}</h1>
    {% if user.username == session.username %}
      <p class="page-intro">
        Tervetuloa, {{ user.username }}. Sinulla on yhteensä {{ grand_total }}
        {{ "kirja" if grand_total == 1 else "kirjaa" }}.
      </p>
    {% else %}
      <p class="page-intro">
        Tervetuloa käyttäjän {{ user.username }} sivulle. Käyttäjällä on
        yhteensä {{ grand_total }}
        {{ "kirja" if grand_total == 1 else "kirjaa" }}.
      </p>
    {% endif %}
    {% if user.username == session.username %}
      <div class="user-nav">
        <a href="/asetukset/">Vaihda käyttäjätunnus tai salasana</a>
      </div>
    {% endif %}
  </div>

  <div class="listing-container">
    <div class="book-listing library-listing logged-in">
      <div class="heading-row">Kirjan nimi</div>
      <div class="heading-row">Kirjoittaja</div>
      <div class="heading-row">Luokka</div>
      <div class="heading-row">Kirjastoissa yhteensä</div>
      {% if user.username == session.username %}
        <div class="heading-row">Sinulla</div>
      {% else %}
        <div class="heading-row">Käyttäjän kirjastossa</div>
      {% endif %}
      <div class="heading-row">Toiminnot</div>

      {% for book in books %}
        <div><a href="/kirja/{{- book.id -}}">{{ book.name }}</a></div>
        <div>{{ book.author }}</div>
        <div>{{ book.classification }}</div>
        <div>
          {{- book.count -}}{{- " " -}}{{- "kappale" if book.count == 1 else "kappaletta" -}}
        </div>
        {% set ns = namespace(count=0) %}
        {% for o in owned %}
          {% if o.id == book.id %}
            {% set ns.count = o.count %}
          {% endif %}
        {% endfor %}
        <div>
          {{- ns.count -}}{{- " " -}}{{- "kappale" if ns.count == 1 else "kappaletta" -}}
        </div>
        <div class="actions">
          <div>
            <a href="/kirja/{{- book.id -}}">Kirjan tiedot</a>
          </div>
          {% if session.user_id %}
            <div>
              <a
                href="/add-one-book?id={{- book.id -}}&token={{- session.csrf_token -}}"
                >Lisää kappale kirjastoosi</a
              >
            </div>
            {% for o in owned %}
              {% if o.id == book.id %}
                <div>
                  <a
                    href="/delete-one-book?id={{- o.id -}}&token={{- session.csrf_token -}}"
                    >Poista kappale omasta kirjastostasi</a
                  >
                </div>
              {% endif %}
            {% endfor %}
            {% set ns = namespace(count=0) %}
            {% for r in read_books %}
              {% if r.id == book.id %}
                {% set ns.count = 1 %}
              {% endif %}
            {% endfor %}
            {% if ns.count == 0 %}
              <div>
                <a
                  href="/mark-as-read?id={{- book.id -}}&token={{- session.csrf_token -}}"
                  >Merkitse luetuksi</a
                >
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="library-nav">
      <div>
        Näytä per sivu:
        <a
          class="{{- 'current' if page_size == 5 -}}"
          href="/kayttaja/{{- user.username -}}/{{- page -}}?per_page=5&reset_page"
          >5</a
        >
        <a
          class="{{- 'current' if page_size == 10 -}}"
          href="/kayttaja/{{- user.username -}}/{{- page -}}?per_page=10&reset_page"
          >10</a
        >
        <a
          class="{{- 'current' if page_size == 20 -}}"
          href="/kayttaja/{{- user.username -}}/{{- page -}}?per_page=20&reset_page"
          >20</a
        >
        <a
          class="{{- 'current' if page_size == 50 -}}"
          href="/kayttaja/{{- user.username -}}/{{- page -}}?per_page=50&reset_page"
          >50</a
        >
        <a
          class="{{- 'current' if page_size == 100 -}}"
          href="/kayttaja/{{- user.username -}}/{{- page -}}?per_page=100&reset_page"
          >100</a
        >
      </div>
      <div>
        {% if page > 1 %}
          <a
            href="/kayttaja/{{- user.username -}}/{{- page - 1 -}}{{- '?per_page=' + (page_size | string) if add_per_page_param -}}"
            >&lt;&lt;</a
          >
        {% endif %}
        Sivu {{ page -}}/{{- page_count }}
        {% if page < page_count %}
          <a
            href="/kayttaja/{{- user.username -}}/{{- page + 1 -}}{{- '?per_page=' + (page_size | string) if add_per_page_param -}}"
            >&gt;&gt;</a
          >
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
